@{
    ViewBag.Title = "ListaSecretaria";
    Layout = "~/Views/MasterPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Secretarias</h3>

    </div>

</div>

<div class="row">

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 119 })">

            <h3>Secretaria de Governo</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 20 })">

            <h3>Secretaria de Ação e Promoção Social</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 1 })">

            <h3>Secretaria de Administração</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 120 })">

            <h3>Controladoria Geral</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 27 })">

            <h3>Secretaria de Defesa Social</h3>
        </a>
    </div>


    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 37 })">

            <h3>Secretaria de Desenvolvimento Economico</h3>
        </a>
    </div>


    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 57 })">

            <h3>Secretaria de Desenvolvimento Urbano e Obras</h3>
        </a>
    </div>


    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 59 })">

            <h3>Secretaria de Educação e Cultura</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 50 })">

            <h3>Secretaria de Esporte e Lazer</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 11 })">

            <h3>Secretaria de Fazenda</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 53 })">

            <h3>Secretaria de Habitação</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 50 })">

            <h3>Secretaria de Juventude</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 42 })">

            <h3>Secretaria de Meio Ambiente</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 58 })">

            <h3>Secretaria de Planejamento e Orçamento</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 32 })">

            <h3>Procuradoria Geral</h3>
        </a>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 linha-vertical">
        <a href="@Url.Action("Secretaria", "Home", new { id = 93 })">

            <h3>Secretaria de Saúde</h3>
        </a>
    </div>



</div>

