@{
    ViewBag.Title = "Secretaria";
    Layout = "~/Views/MasterPrincipal.cshtml";
    var sub = ViewBag.secretaria.LsitaSubSecretarias;
    var telefones = ViewBag.secretaria.ListTelefone;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topoSubpag">
        <h3>Secretarias</h3>

    </div>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pagsecretaria">
        <h3>@ViewBag.secretaria.Nome</h3>
        @if (sub.Count != 0)
        {
            <p>Secretario: @ViewBag.secretaria.NomeSecretario</p>
        }
        else
        {
            <p>Responsável: @ViewBag.secretaria.NomeSecretario</p>
        }
        <p>Horário: @ViewBag.secretaria.Horario</p>
        <p>Endereco: @ViewBag.secretaria.Endereco</p>
        @foreach (var va in telefones)
        {
            if (va.destaque == true)
            {
                <p>Telefone: @va.Numero</p>
                break;
            }
        }

        <h3>Atribuições</h3>
        <p>
            @Html.Raw(ViewBag.secretaria.Atribuicao)
        </p>
        <h3>Lista de Setores</h3>
        @{
            if (sub.Count != 0)
            {

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-lg-5">Nome Setor</th>
                            <th class="col-lg-6">Endereco</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var variavel in ViewBag.secretaria.LsitaSubSecretarias)
                        {
                        <!--Repetir-->
                            <tr>
                                <td class="col-lg-4"><a href="@Url.Action("Secretaria", "Home", new { id = variavel.Id })">@variavel.Nome</a></td>
                                <td class="col-lg-4"> <a href="@Url.Action("Secretaria", "Home", new { id = variavel.Id })">@variavel.Endereco</a></td>

                            </tr>

                        <!--Repetir-->
                        }




                    </tbody>
                </table>
            }
            }
</div>

</div>
