@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ListaSecretaria";
    Layout = "~/Views/_MasterPrincipal.cshtml";
    var listaNoticias = ViewBag.Noticias;
}

<div class="row alinhar_conteudo" style="margin-bottom:30px;">

    <div class="row">
        <div class="col-md-11 col-lg-11 col-sm-11  col-lg-offset-1  font_telefones alinhar_esquerda_telefone" style="margin-left:6%">

            <div class="font_destaque bg_faixa col-lg-11 col-md-11 col-sm-11">
                <span class="h3" style="margin-bottom:30px; margin-top:30px;">Lista Secretaria/Setores</span>
            </div>
            <br />
            @using (Html.BeginForm("ListaSecretaria", "Home", FormMethod.Post))
            {
                <div class="col-md-11 col-lg-11 col-sm-11   font_telefones alinhar_esquerda_telefone" style="margin-top:10px;">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Digite o nome ou endereço">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Buscar</button>
                        </span>
                    </div><!-- /input-group -->

                </div>
            }

            <!--Tabela 1-->
            <div class="col-md-11 col-lg-11 col-sm-11   font_telefones alinhar_esquerda_telefone" style="margin-top:10px;">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-lg-4">Nome Secretaria</th>
                            <th class="col-lg-4">Endereco</th>
                            <th class="col-lg-3">Telefone</th>
                            <th class="col-lg-1">Ver +</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            foreach (var variavel in listaNoticias)
                            {
                                
                                <tr>
                                    <td class="col-lg-4">@variavel.Nome</td>
                                    <td class="col-lg-4">@variavel.Endereco</td>

                                    @foreach (var va in variavel.ListTelefone)
                                    {
                                        if (va.destaque == true)
                                        {
                                            <td class="col-lg-3">@va.Numero</td>
                                           
                                            break;
                                        }
                                    }

                                    <td class="col-lg-1"><a href="@Url.Action("Secretaria", "Home", new { idSec = variavel.Id })"><span class="glyphicon glyphicon-search col-lg-12" aria-hidden="true"></span></a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-11 col-lg-11 col-sm-11  col-lg-offset-1  font_telefones alinhar_esquerda_telefone" style="margin-left:7%">
            Pagina @ViewBag.Noticias.PageNumber de @ViewBag.Noticias.PageCount

            @Html.PagedListPager((PagedList.PagedList<Site2016.Dominio.Secretaria>)ViewBag.Noticias, page => Url.Action("ListaSecretaria", new { pagina = page }))
            </div>
        </div>

  
</div>
