<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
   
    <link href="~/Content/topo.css" rel="stylesheet" media="screen" />

    <script src="~/js/mm_css_menu.js"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        body{
            margin:0px 0px 0px 0px;
            padding:0px 0px 0px 0px;
            

        }
        <!--
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        -->
 
    
        td img {
            display: block;
        }
   
  
        td img {
            display: block;
        }

        .rodape {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #333;
            font-weight: 200;
        }
    </style>

</head>
<body  bgcolor="#ffffff">
    <center>
        <div id="FWTableContainer1786642806" style="margin-top:-14px;">
            <table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="1003">
                <!-- fwtable fwsrc="topo.fw.png" fwpage="Page 1" fwbase="topo.jpg" fwstyle="Dreamweaver" fwdocid = "1786642806" fwnested="0" -->
                <tr>
                    <td><img src="~/images/spacer.gif" width="386" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="27" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="94" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="6" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="102" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="11" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="143" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="44" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="59" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="111" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="20" height="1" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="1" height="1" alt="" /></td>
                </tr>
                <tr>
                    <td rowspan="5"><a href="@Url.Action("Index", "Home")"><img name="topo_r1_c1" src="~/images/topo_r1_c1.jpg" width="386" height="130" id="topo_r1_c1" alt="" /></a></td>
                    <td rowspan="3" colspan="3"><img name="topo_r1_c2" src="~/images/topo_r1_c2.jpg" width="127" height="77" id="topo_r1_c2" alt="" /></td>
                    <td><a href="http://gmail.com/"><img name="topo_r1_c5" src="~/images/topo_r1_c5.jpg" width="102" height="39" id="topo_r1_c5" alt="" /></a></td>
                    <td colspan="3"><a href="http://transparencia.alfenas.mg.gov.br/Informacao" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('MMMenuContainer0105125534_0', 'MMMenu0105125534_0',0,39,'topo_r1_c6');"><img name="topo_r1_c6" src="~/images/topo_r1_c6.jpg" width="198" height="39" id="topo_r1_c6" alt="" /></a></td>
                    <td rowspan="2" colspan="2"><a href="http://transparencia.alfenas.mg.gov.br/"><img name="topo_r1_c9" src="~/images/topo_r1_c9.jpg" width="170" height="58" id="topo_r1_c9" alt="" /></a></td>
                    <td rowspan="5"><img name="topo_r1_c11" src="~/images/topo_r1_c11.jpg" width="20" height="130" id="topo_r1_c11" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="1" height="39" alt="" /></td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="4"><img name="topo_r2_c5" src="~/images/topo_r2_c5.jpg" width="300" height="38" id="topo_r2_c5" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="1" height="19" alt="" /></td>
                </tr>
                <tr>
                    <td colspan="2"><img name="topo_r3_c9" src="~/images/topo_r3_c9.jpg" width="170" height="19" id="topo_r3_c9" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="1" height="19" alt="" /></td>
                </tr>
                <tr>
                    <td rowspan="2"><img name="topo_r4_c2" src="~/images/topo_r4_c2.jpg" width="27" height="53" id="topo_r4_c2" alt="" /></td>
                    <td><a href="javascript:;" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('MMMenuContainer0105113409_0', 'MMMenu0105113409_0',0,33,'topo_r4_c3');"><img name="topo_r4_c3" src="~/images/topo_r4_c3.jpg" width="94" height="38" id="topo_r4_c3" alt="" /></a></td>
                    <td colspan="3"><a href="javascript:;" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('MMMenuContainer0105113941_1', 'MMMenu0105113941_1',0,33,'topo_r4_c4');"><img name="topo_r4_c4" src="~/images/topo_r4_c4.jpg" width="119" height="38" id="topo_r4_c4" alt="" /></a></td>
                    <td><a href="@Url.Action("ListaSecretaria", "Home")" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('MMMenuContainer0105114229_2', 'MMMenu0105114229_2',0,33,'topo_r4_c7');"><img name="topo_r4_c7" src="~/images/topo_r4_c7.jpg" width="143" height="38" id="topo_r4_c7" alt="" /></a></td>
                    <td colspan="2"><a href="@Url.Action("ListaNoticias","Home")"><img name="topo_r4_c8" src="~/images/topo_r4_c8.jpg" width="103" height="38" id="topo_r4_c8" alt="" /></a></td>
                    <td><a href="@Url.Action("CertidaoNegativo", "Home")" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuShowMenu('MMMenuContainer0105115257_3', 'MMMenu0105115257_3',0,33,'topo_r4_c10');"><img name="topo_r4_c10" src="~/images/topo_r4_c10.jpg" width="111" height="38" id="topo_r4_c10" alt="" /></a></td>
                    <td><img src="~/images/spacer.gif" width="1" height="38" alt="" /></td>
                </tr>
                <tr>
                    <td colspan="8"><img name="topo_r5_c3" src="~/images/topo_r5_c3.jpg" width="570" height="15" id="topo_r5_c3" alt="" /></td>
                    <td><img src="~/images/spacer.gif" width="1" height="15" alt="" /></td>
                </tr>
            </table>
          
            <div id="MMMenuContainer0105113409_0" style="margin-top:16px;">
                <div id="MMMenu0105113409_0" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuResetTimeout();">
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_0" class="MMMIFVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        Aeroporto
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_1" class="MMMIVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        C&acirc;mara&nbsp;Municipal
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_2" class="MMMIVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        Dados&nbsp;Demogr&aacute;ficos
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_3" class="MMMIVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        Hino&nbsp;de&nbsp;Alfenas
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_4" class="MMMIVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        Mapa&nbsp;Oficial
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_5" class="MMMIVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        Rodovi&aacute;ria
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_6" class="MMMIVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        S&iacute;mbolos&nbsp;Oficiais
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113409_0_Item_7" class="MMMIVStyleMMMenu0105113409_0" onmouseover="MM_menuOverMenuItem('MMMenu0105113409_0');">
                        Transporte&nbsp;Coletivo
                    </a>
                </div>
            </div>
            <div id="MMMenuContainer0105113941_1" style="margin-top:16px;">
                <div id="MMMenu0105113941_1" onmouseout="MM_menuStartTimeout(1000);" onmouseover="MM_menuResetTimeout();">
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113941_1_Item_0" class="MMMIFVStyleMMMenu0105113941_1" onmouseover="MM_menuOverMenuItem('MMMenu0105113941_1');">
                        Fale&nbsp;Conosco
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113941_1_Item_1" class="MMMIVStyleMMMenu0105113941_1" onmouseover="MM_menuOverMenuItem('MMMenu0105113941_1');">
                        Fale&nbsp;com&nbsp;o&nbsp;Prefeito
                    </a>
                    <a href="http://e-gov.betha.com.br/transparencia/01029-000/con_registropedidoinformacao.faces?mun=rEa-e6IknR8=" id="MMMenu0105113941_1_Item_2" class="MMMIVStyleMMMenu0105113941_1" onmouseover="MM_menuOverMenuItem('MMMenu0105113941_1');">
                        Ouvidoria
                    </a>
                    <a href="@Url.Action("Manutencao", "Home")" id="MMMenu0105113941_1_Item_3" class="MMMIVStyleMMMenu0105113941_1" onmouseover="MM_menuOverMenuItem('MMMenu0105113941_1');">
                        Prefeito&nbsp;e&nbsp;Vice
                    </a>
                    <a href="@Url.Action("ListaSecretaria", "Home")" id="MMMenu0105113941_1_Item_4" class="MMMIVStyleMMMenu0105113941_1" onmouseover="MM_menuOverMenuItem('MMMenu0105113941_1');">
                        Secretarias
                    </a>
                </div>
            </div>
            

        </div>
    </center>
   <br />
    <br />
    @RenderBody()
    <table width="100%" bgcolor="#FFFFFF">
        <tr>
            <td align="center">
                <table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="1003">
                    <!-- fwtable fwsrc="Untitled" fwpage="Page 1" fwbase="rodape.jpg" fwstyle="Dreamweaver" fwdocid = "1660807345" fwnested="0" -->
                    <tr>
                        <td><img src="~/images/spacer.gif" width="323" height="1" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="32" height="1" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="635" height="1" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="13" height="1" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="1" height="1" alt="" /></td>
                    </tr>
                    <tr>
                        <td colspan="4"><img name="rodape_r1_c1" src="~/images/spacer.gif" width="1003" height="45" id="rodape_r1_c1" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="1" height="45" alt="" /></td>
                    </tr>
                    <tr>
                        <td rowspan="2"><img name="rodape_r2_c1" src="~/images/rodape_r2_c1.jpg" width="323" height="94" id="rodape_r2_c1" alt="" /></td>
                        <td rowspan="3"><img name="rodape_r2_c2" src="~/images/rodape_r2_c2.jpg" width="32" height="231" id="rodape_r2_c2" alt="" /></td>
                        <td><img name="rodape_r2_c3" src="~/images/spacer.gif" width="635" height="23" id="rodape_r2_c3" alt="" /></td>
                        <td rowspan="3"><img name="rodape_r2_c4" src="~/images/spacer.gif" width="13" height="231" id="rodape_r2_c4" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="1" height="23" alt="" /></td>
                    </tr>
                    <tr>
                        <td rowspan="2" valign="top" align="left">



                            <table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="633">
                                <!-- fwtable fwsrc="Untitled" fwpage="Page 1" fwbase="tbrod.jpg" fwstyle="Dreamweaver" fwdocid = "1668267455" fwnested="0" -->
                                <tr>
                                    <td><img src="~/images/spacer.gif" width="30" height="1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="94" height="1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="131" height="1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="140" height="1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="106" height="1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="122" height="1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="10" height="1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="1" height="1" alt="" /></td>
                                </tr>
                                <tr>
                                    <td><img name="tbrod_r1_c1" src="~/images/tbrod_r1_c1.jpg" width="30" height="21" id="tbrod_r1_c1" alt="" /></td>
                                    <td><img name="tbrod_r1_c2" src="~/images/tbrod_r1_c2.jpg" width="94" height="21" id="tbrod_r1_c2" alt="" /></td>
                                    <td><img name="tbrod_r1_c3" src="~/images/tbrod_r1_c3.jpg" width="131" height="21" id="tbrod_r1_c3" alt="" /></td>
                                    <td><img name="tbrod_r1_c4" src="~/images/tbrod_r1_c4.jpg" width="140" height="21" id="tbrod_r1_c4" alt="" /></td>
                                    <td><img name="tbrod_r1_c5" src="~/images/tbrod_r1_c5.jpg" width="106" height="21" id="tbrod_r1_c5" alt="" /></td>
                                    <td><img name="tbrod_r1_c6" src="~/images/tbrod_r1_c6.jpg" width="122" height="21" id="tbrod_r1_c6" alt="" /></td>
                                    <td rowspan="2"><img name="tbrod_r1_c7" src="~/images/tbrod_r1_c7.jpg" width="10" height="200" id="tbrod_r1_c7" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="1" height="21" alt="" /></td>
                                </tr>
                                <tr>
                                    <td><img name="tbrod_r2_c1" src="~/images/tbrod_r2_c1.jpg" width="30" height="179" id="tbrod_r2_c1" alt="" /></td>
                                    <td valign="top" align="left">
                                        <font class="rodape">
                                            Aeroporto<br />
                                            Câmara Municipal<br />
                                            Dados Demográficos<br />
                                            Hino de Alfenas<br />
                                            História<br />
                                            Infraestrutura<br />
                                            Mapa Oficial<br />
                                            Rodoviária<br />
                                            Símbolos Oficiais<br />
                                            Transporte Coletivo

                                        </font>
                                    </td>
                                    <td align="left" valign="top" class="rodape">
                                        Fale Conosco<br />
                                        Ouvidoria<br />
                                        Prefeito e Vice<br />
                                        Secretarias

                                    </td>
                                    <td valign="top" align="left">
                                        <span class="rodape">
                                            Administração<br>
                                            Fazenda<br />
                                            Ação Social<br>
                                            Defesa Social<br>
                                            Desenvolvimento Econômico
                                        </span><br>
                                    </td>
                                    <td valign="top" align="left">&nbsp;</td>
                                    <td align="left" valign="top" class="rodape">
                                        Consulta Protocolo <br>
                                        Nota Fiscal <br>
                                        Solicitação de Acesso <br>
                                    </td>
                                    <td><img src="~/images/spacer.gif" width="1" height="179" alt="" /></td>
                                </tr>
                                <tr>
                                    <td colspan="7"><img name="tbrod_r3_c1" src="~/images/tbrod_r3_c1.jpg" width="633" height="8" id="tbrod_r3_c1" alt="" /></td>
                                    <td><img src="~/images/spacer.gif" width="1" height="8" alt="" /></td>
                                </tr>
                            </table>





                        </td>
                        <td><img src="~/images/spacer.gif" width="1" height="71" alt="" /></td>
                    </tr>
                    <tr>
                        <td><img name="rodape_r4_c1" src="~/images/rodape_r4_c1.jpg" width="323" height="137" id="rodape_r4_c1" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="1" height="137" alt="" /></td>
                    </tr>
                    <tr>
                        <td colspan="4"><img name="rodape_r5_c1" src="~/images/spacer.gif" width="1003" height="43" id="rodape_r5_c1" alt="" /></td>
                        <td><img src="~/images/spacer.gif" width="1" height="43" alt="" /></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
