@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Master.cshtml";
    int test = 0;
    int countBanner = 0;
    int countBanner2 = 0;
    var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
    var baseurl = "http://alfenas.mg.gov.br/Admin";


}

<div class="row" id="conteudo">
    <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12 linkLateral">

        <!--menu lateral processo seltivo-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Processo Seletivo </strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/processo seletivo.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral nota fiscal-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Nota Fiscal Eletrônica </strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/nota fiscal eletronica.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral 2 via iptu-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> 2º via do IPTU </strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral compra licitacoes-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong>Compras & Licitações</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/compras e licitações.png" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral governo-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Governo</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Procuradoria-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Procuradoria</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Controladoria-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Controladoria</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Gabinete-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Gabinete</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Administração-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Administração</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Agricultura-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Agricultura</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral  Ação Social-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Ação Social</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Defesa Social-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Defesa Social</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Econômico-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> D. Econômico</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Educação e cul-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Educação e Cultrua</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Esporte-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Esporte</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Fazenda-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Fazenda</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Habitação-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Habitação</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Juv e Turismo-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Juv e Turismo</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Ambiente-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Meio Ambiente</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Obras-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Obras</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Planejamento-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Planejamento</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu lateral Meio Saúde-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Saúde</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->
        <!--menu latera lOuvidoria-->
        <div class="row marginbottom15p">
            <a>
                <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12">
                    <strong> Ouvidoria</strong>
                </div>
                <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
                    <img src="~/images/Inicio/2 via de iptu.png" class="img-responsive" alt="" title="" />
                </div>
            </a>
        </div>
        <center>
            <hr class="linhahorizontalLateral" />
        </center>
        <!--Fim menu lateral-->


    </div>


    <!--MEIO-->




    <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12" id="meio">
      



        <!--Banner 2-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div id="myCarousel2" class="carousel slide " data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel2" data-slide-to="0" class="active"> </li>
                        <li data-target="#myCarousel2" data-slide-to="1"></li>
                        <li data-target="#myCarousel2" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner imgbannerPrincipal">

                        @foreach (var variavel in ViewBag.banner)
                        {



                            foreach (var listaimagem in variavel.ListImagem)
                            {
                                if (listaimagem.Destaque == true)
                                {
                                    if (countBanner2 == 0)
                                    {
                                        <div class="item active">
                                            <a href="@Url.Action("Noticias", "Home", new { id = variavel.Id})">
                                                <img src="@baseurl/Uploads/Img/@listaimagem.Caminho" alt="@variavel.Titulo" title="@variavel.Titulo" />
                                                <div class="carousel-caption">
                                                    <h4 class="aslininhatexto">@variavel.Titulo</h4>
                                              
                                                </div>
                                            </a>
                                        </div>
                                        countBanner2++;
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <a href="@Url.Action("Noticias", "Home", new { id = variavel.Id})">
                                                <img src="@baseurl/Uploads/Img/@listaimagem.Caminho" alt="@variavel.Titulo" title="@variavel.Titulo" />
                                                <div class="carousel-caption deixa">

                                                    <h4 class="aslininhatexto">@variavel.Titulo</h4>
                                         
                                                    
                                                </div>
                                            </a>
                                        </div>

                                    }


                                    break;
                                }
                            }



                        }



                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
            </div>
        </div>




        <!--Noticia-->

        <div class="row marginbottom15p margintop8">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h3>Destaque</h3>
            </div>

              <!--repeat-->
@foreach (var variavel in ViewBag.Noticia)
{
    foreach (var listaimagem in variavel.ListImagem)
    {
        if (listaimagem.Destaque == true)
        {
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 imgNoticia">

                <a href="@Url.Action("Noticias", "Home", new { id = variavel.Id})">
                    <img src="@baseurl/Uploads/Img/@listaimagem.Caminho" alt="@variavel.Titulo" title="@variavel.Titulo" class="img-responsive" />

                    <p>@variavel.Titulo</p>
                 </a>




            </div>
            test++;
        }
    }
}

        </div>
    </div>



    <!--FIM MEIO-->



    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12 linkLateral">
      
        <!--menulateral-->
        <div class="row">




            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/cidade escola.png" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/acesso-a-informacao2.jpg" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/LiticataopregaoPronto.png" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>


            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/banner-vigilancia-sanitariaPronto.png" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/processosletivoPronto.png" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/ListamedicamentosPronto.png" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/itbipronto.png" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                <img src="~/images/Inicio/logo_PMSB-horizontapronto.jpg" class="marginbottom15p imglateral" alt="clima" title="clima" />

            </div>



        </div>

 
    
    </div>
</div>


