@{
    ViewBag.Title = "Secretaria";
    Layout = "~/Views/_MasterPrincipal.cshtml";
    var sub = ViewBag.secretaria.LsitaSubSecretarias;
    var telefones = ViewBag.secretaria.ListTelefone;

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
}


    <div class="row" style="margin-left:6%">
        <div class="col-md-10 col-lg-10 col-sm-11 col-lg-offset-1">
            <center>
                <div class="col-lg-11 col-md-11 col-sm-11" style="background-color:#012B43; margin-bottom:20px; margin-top:20px">
                    <span class="h3" style=" float:left; margin-top:14px; margin-bottom:10px; color:white;   font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:bold; font-size:30px;">@ViewBag.secretaria.Nome</span>
                </div>

            </center>
@{
    if (sub.Count != 0)
    {
        <div class="col-md-10 col-lg-10 col-sm-11">
            <h5 style="margin-bottom:25px;">Secretario: @ViewBag.secretaria.NomeSecretario</h5>
        </div>

    }
    else
    {
        <div class="col-md-10 col-lg-10 col-sm-11 ">
            <h5 style="margin-bottom:25px;">Responsavel: @ViewBag.secretaria.NomeSecretario</h5>
        </div>

    }

    <div class="col-md-10 col-lg-10 col-sm-11 ">
        <h5 style="margin-bottom:25px;">Horario: @ViewBag.secretaria.Horario</h5>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-11 ">
        <h5 style="margin-bottom:25px;">Endereço: @ViewBag.secretaria.Endereco</h5>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-11 ">
        @foreach (var va in telefones)
        {
            if (va.destaque == true)
            {
                <h5 style="margin-bottom:25px;">Telefone:@ViewBag.Numero</h5>


                break;
            }
        }
    </div>
    <div class="col-md-10 col-lg-10 col-sm-11 ">
        <h5 style="margin-bottom:10px;">Atribuições</h5>
    </div>
    <div class="col-md-10 col-lg-10 col-sm-11 ">
        <h5 style="margin-bottom:25px;">@Html.Raw(ViewBag.secretaria.Atribuicao)</h5>
    </div>

}


        </div>
    </div>

<center>
    <div class="row" style="margin-left:6%;">
        <div class="col-md-10 col-lg-10 col-sm-11 col-lg-offset-1">
            @{
                if (sub.Count != 0)
                {
                    <div class="alert alert-warning">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Lista de Setores
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-lg-5">Nome Setor</th>
                                <th class="col-lg-6">Endereco</th>

                                <th class="col-lg-1">Ver +</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var variavel in ViewBag.secretaria.LsitaSubSecretarias)
                            {

                                <tr>
                                    <td class="col-lg-4">@variavel.Nome</td>
                                    <td class="col-lg-4">@variavel.Endereco</td>



                                    <td class="col-lg-1"><a href="@Url.Action("Secretaria", "Home", new { idSec = variavel.Id })"><span class="glyphicon glyphicon-search col-lg-12" aria-hidden="true"></span></a></td>
                                </tr>




                            }


                        </tbody>
                    </table>
                }
            }

        </div>

    </div>
    <div class="col-md-11 col-lg-11 col-sm-11  col-lg-offset-1">
        <a class="btn btn-warning btn-group-lg" href="@Url.Action("ListaSecretaria","Home")">Voltar</a>
    </div>


</center>